* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.DoList-box {
  width: 500px;
  margin: 30px auto;
  border: 1px solid gray;
}

input {
  padding: 8px 50px 8px 5px;
  width: 83%;
  margin: 10px;
}

button {
  padding: 8px;
}

h1,
h2 {
  margin: 10px;
}

li {
  list-style-type: none;
  margin: 3px 10px;
  display: flex;
  justify-content: space-between;
}

.groupBtn {
  display: flex;
}
